.cells {
    margin-top: 72px;
    border-collapse: collapse;
}

input {
    border: none;
    min-height: 18px;
    min-width: 120px;
}

input:focus {
    border: 1.5px solid #1a73e8;
    min-height: 18px;
    min-width: 120px;
}

.td {
    border: 1px solid rgba(0,0,0,.2);
}